@charset "utf-8";

/*
 * aciSortable jQuery Plugin
 * http://acoderinsights.ro
 *
 */

/* this is just as example, implement your own CSS to match the aciSortable init options */

.aciSortablePlaceholder {
    height:4px;
    line-height:4px;
}

.aciSortablePlaceholder div {
    height:4px;
    background-color:black;
    width:100px;
}

.aciSortableHelper {
    position:absolute;
    max-width:300px;
    background-color:#ccc;
    border:1px solid #000;
    padding:4px;
    color:#000;
    /* uncomment below to offset from the mouse cursor */
    /*margin:20px 0 0 20px;*/
}
